@import "tailwindcss";

/* ඔයා හදපු maroon/teal colors තියෙන config එක මෙතනට link කරන්න */
@config "../tailwind.config.js";

:root{
    --fot-maroon: #800000;
    --fot-teal: #008080
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}